.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #40513B;
  min-height: 100vh;
}

.main nav {
  display: flex;
  justify-content: center;
}

nav h3 {
  margin: 20px 4px;
  padding: 8px;
  border-radius: 7px;
  color:#EDF1D6;
}

.main-title {
  text-align: center;
}

.active {
  background-color: #EDF1D6;
  color: #40513B;
}

.title {
  display: flex;
  justify-content: center;
  margin: 20px 20px;
  color: #EDF1D6;
}

.title svg {
  width: 40px;
  height: 40px;
}

.title h1 {
  margin: 20px;
}

.secondary {
  background-color: #9DC08B;
  width: 90vw;
  max-width: 600px;
  margin: auto;
  border-radius: 7px;
}


.secondary p, h4 {
  margin-left: 40px;
}

.quote {
  font-size: large;
  font-style: italic;
  font-weight: bold;
  color: #40513B;
}

.field-name {
  font-weight: lighter;
  font-size: small;
}

.supporting-info {
  font-size: small;
  font-weight: lighter;
  color: #40513B;
}

button {
  background-color: #40513B;
  font-weight: bold;
  color: #EDF1D6;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 5px 10px;
}

button svg {
  height: 30px;
  width: 30px;
  fill: #EDF1D6;
  margin-right: 15px;
}

.info {
  font-weight: 200;
  padding-right: 20px;
  color: #40513B;
}

.champ {
  text-decoration: underline;
  text-underline-offset: 5px;
  font-weight: bold;
}

form input, label {
  display: block;
  margin-left: 40px;
  margin: 10px 
}

input {
  background-color: #40513B;
  color: #EDF1D6;
  border: none;
  padding: 10px;
  width: 80%;
  border-radius: 7px;
  margin-left: 40px;
}

.plane {
  width: 20px;
  height: 20px;
  padding: 10px 0px;
}

::placeholder {
  color: #EDF1D6;
  opacity: 1; 
}

.error {
  color: #fc8181;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
}

.input-error {
  border-color: red;
  background-color: red;
}
